
<h1 style="text-align:center; color:blue">About Me</h1>

<p style="margin-left:500px;">I am passionate about ROR.</p>
 
<p style="margin-left:500px;">To have a fun with innovative posts
<%= link_to "Click Here", posts_path %></p>
