<div class="login-new_post">
  <div id="home"><%= link_to 'Home', posts_path %></div>
  <div id="new_post"><%= link_to 'New Post', new_post_path %></div>
  <div id="login">login</div>
</div>

<div id="user_name">
	<h1  style="color:#FFFDFD">Pravin Nagare</h1>
</div>

<div id="new_post_heading">
	<p style="color: #55AF18; font-size: 20pt;">New post</p>
</div>
<%= render 'form' %>

<div id="back_new_post"><%= link_to 'Back', posts_path %></div>

